<div class="container">

  <div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-md-6">
      <form role="form">
        <h1 style="color: blue; font-style: oblique">Sign In</h1>
        <div class="form-group">
          <input [(ngModel)]="key" type="text" name="key" class="form-control" placeholder="Insert key from email here!">
        </div>

        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6">
            <input (click)="onActivateClick()" type="submit" class="btn btn-lg btn-primary" value="Activate">
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
